<%if @article %>
<%= link_to('<< Back to list',{:action => 'index',:article_id=>@article.id},
            :class=>'Back
          link') %>
<%else%>
<%= link_to('<< Back to list',{:action => 'index',:photograph_id=>@photograph.id},
            :class=>'Back link') %>
<%end %>

<div class="users new">
  <h2>Create Comment</h2>
  <%if @article%>
          <%=form_for(:comment, :url=>{:action=>'create',:article_id=>@article.id}) do |f|%>
              <%= render(:partial => 'form',:locals=>{:f=>f}) %>
              <div class="form-buttons">
                <%= submit_tag('Create Comment') %>
              </div>

          <%end%>
  <%else%>
      <%=form_for(:comment, :url=>{:action=>'create',:photograph_id=>@photograph.id}) do |f|%>
          <%= render(:partial => 'form',:locals=>{:f=>f}) %>
          <div class="form-buttons">
            <%= submit_tag('Create Comment') %>
          </div>
  <%end%>
  <%end%>
</div>