<% @page_title = "Admin Menu" %>

<div class="menu">
  <div class="row col-xs-6 col-sm-12 col-lg-12">
      <h2>Admin Menu</h2>
      <div id="sidebar" class="col-xs-6" style="background: azure"><legend>Logged in as: <%= session[:username] %></legend>
          <ul>
            <li><%= link_to("Manage articles", :controller => 'articles') %></li>
            <li><%= link_to("Manage photographs", :controller => 'photographs') %></li>
            <li><%= link_to("Manage Users", :controller => 'users') %></li>
            <li><%= link_to("Manage Admin Users", :controller => 'admin_users') %></li>
            <li><%= link_to("Logout", :action => 'logout') %></li>
          </ul>

      </div>
    <div id="main-content" class="col-xs-9" style="background: black">
      <!--  main content -->
    </div>


  </div>

</div>