<div class="admin_users_index">
  <%= link_to('<< Back to menu',{:controller => 'access',:action => 'index',:class=>'Back link'}) %>
  <h2>Admin users list</h2>
  <%= link_to("New admin user",{:action=>'new'}, :class => 'btn btn-success') %>
  <div><%= pluralize(@admin_users.size,'admin_user') %></div>
  <table class="table table-condensed", summary="Admin users list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Visible</th>
    </tr>
    <% @admin_users.each do |admin_user|%>
        <tr class="<%= cycle('odd','even') %>">
          <td><%=admin_user.position%></td>
          <td><%=admin_user.first_name%></td>
          <td><%=admin_user.last_name%></td>
          <td><%=admin_user.username%></td>
          <td><%=admin_user.password%></td>
          <td><%=admin_user.visible%></td>
          <td class="action">
            <%=link_to('Show',{:action=>'show',:id=>admin_user.id}, :class=>'action show')%>
            <%=link_to('Edit',{:action=>'edit', :id=>admin_user.id}, :class=>'action edit')%>
            <%=link_to('Delete',{:action=>'delete', :id=>admin_user.id}, :class=>'action delete')%>

          </td>
        </tr>
    <%end%>
  </table>
</div>