<!DOCTYPE html>
<html>
  <div class="container">

    <%= render(:partial => 'application/header') %>
    <body>
    <%= render(:partial=>'application/navigation') %>
    <%= render(:partial => 'application/flash_message') %>
      <div class="row">
          <%= yield %>
      </div>
    <%= render(:partial => 'application/footer') %>
    </body>
  </div>
</html>







